# --------- pytorch --------- #
torch>=1.7.0
torchmetrics>=0.11.0

# --------- hydra --------- #
hydra-core >=1.2.0
hydra-colorlog >=1.2.0
hydra-optuna-sweeper >= 1.2.0


# --------- others --------- #
tqdm            # 终端中漂亮的文本格式,进度条，
pudb            # 调试器
